<header id="header">
  <a class="logo" routerLink="/">Budgy</a>
  <ul>
    <li><a routerLink="/" class="active">Accueil</a></li>
    <li><a routerLink="/user">Inscription</a></li>
  </ul>
</header>
<div id="body">
  <section>
    <h2 id="text"><span>Gérer son arrivée avec</span><br />Budgy</h2>
    <img src="../../../assets/images/sun.png" id="sun">
    <img src="../../../assets/images/hills.png" id="hills">
    <img src="../../../assets/images/forest.png" id="forest">
    <img src="../../../assets/images/clouds.png" id="clouds">
    <a hre="#" id="btn" routerLink="/user">Explore</a>
    <img src="../../../assets/images/front.png" id="front">
  </section>
  <div class="sec">
    <h2></h2>
    <p></p>
  </div>
</div>
