<header id="header">
  <a class="logo" routerLink="/">Budgy</a>
  <ul>
    <li><a routerLink="/" class="active">Accueil</a></li>
    <li><a routerLink="/user">Inscription</a></li>
  </ul>
</header>
<div id="body">
  <section>
    <img src="../../../assets/images/sun.png" id="sun" />
    <img src="../../../assets/images/hills.png" id="hills" />
    <img src="../../../assets/images/forest.png" id="forest" />
    <img src="../../../assets/images/clouds.png" id="clouds" />
    <h2 id="text">
      <span>Gérer son emménagement avec</span>
      <img src="../../../assets/images/budgy_big_blue.png">
    </h2>
    <img src="../../../assets/images/front.png" id="front" />
    <a hre="#" id="btn" routerLink="/user">Explorer</a>
  </section>
  <div class="sec">
    <h2></h2>
    <ul id="features">
      <li class="feature" li-title="Listage des actions à faire">
        L'objectif est d'avoir une vue d'ensemble <strong>dégagée</strong> pour
        analyser les actions restantes pour que ton emménagement se passe
        sereinement.
      </li>
      <li class="feature" li-title="Comparatifs précis">
        Un <strong>comparatif</strong> afin d'être toujours certain de profiter
        de l'offre la <strong>moins chère</strong> tout en répondant à tes
        besoins.
      </li>
      <li class="feature" li-title="Alertes sur les bons plans">
        Des <strong>alertes</strong> et des astuces pour t'aider dans tes
        démarches mais aussi des <strong>bons plans</strong> (réductions, offres
        promotionnelles, ...)
      </li>
      <li class="feature" li-title="Stockage des documents">
        Un stockage en toute sécurité de tes documents à un
        <strong>seul et même endroit</strong> pour t'y retrouver en toutes
        circonstances
      </li>
    </ul>
  </div>
</div>
