.change-budge-form {
  top: 0;
}

.title-details {
  margin-top: 90px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 20px;

  h1 {
    width: auto;
  }

  .mat-icon {
    font-size: 50px;
    width: auto;
    height: auto;
  }
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  align-items: center;
  background-color: #1976d2;
  text-align: center;
  color: white;
  font-size: larger;
}

.tab-icon {
  width: 50px !important;
}

#return-logo {
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 40px;
  height: 70px;
  line-height: 70px;
}

#right-top-corner-logo {
  display: inline-block;
  position: absolute;
  right: 0;

  .mat-icon {
    font-size: 40px;
    height: 70px;
    line-height: 70px;
  }
}

.mat-stepper-horizontal {
  background-color: rgba(236, 236, 236);
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

/deep/ .mat-step-text-label.ng-star-inserted {
  color: rgba(0, 0, 0, 0.849);
  text-transform: uppercase;
  font-size: 20px;
}

/deep/ .mat-step-icon {
  background-color: #1976d250 !important;
  width: 30px !important;
  height: 30px !important;

  .mat-step-icon-content {
    font-size: 20px;

    .ng-star-inserted {
      color: white;
    }
  }
}

/deep/ .mat-step-header .mat-step-icon-selected {
  background-color: #1976d2 !important;
}

/deep/ .mat-stepper-horizontal-line {
  background-color: rgba(0, 0, 0, 0.5);
}

.cards {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;

  mat-card {
    color: rgba(0, 0, 0, 0.849);
    margin-top: 20px;
    background-color: rgba(236, 236, 236);
    border-radius: 25px;
    flex: 1 1 auto;
    margin: 20px;

    mat-card-title {
      text-transform: uppercase;
    }
  }
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
}

/deep/ .mat-raised-button {
  color: black;
  background-color: white;
}

/deep/ .mat-checkbox {
  color: rgba(0, 0, 0, 0.849);
}

/deep/ .mat-checkbox-frame {
  border-color: rgba(0, 0, 0, 0.849);
}

/deep/ .mat-form-field-empty.mat-form-field-label {
  color: rgba(0, 0, 0, 0.897);
}

/deep/ .mat-focused .mat-form-field-label {
  color: rgba(0, 0, 0, 0.897);
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.897);
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(0, 0, 0, 0.897);
}
