@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@budgyblue: #094b65;

#header {
  box-sizing: border-box;
  background-color: #26b1e7;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
#header .logo {
  color: @budgyblue;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
#header ul {
  display: flex;
  justify-content: content;
  align-items: center;
}
#header ul li {
  list-style: none;
  margin-left: 20px;
}
#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: @budgyblue;
  border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active {
  background: #094b65;
  color: white;
}

.change-budge-form {
  display: block;
}

.title-details {
  margin-top: 140px;
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;

  h1 {
    min-width: fit-content;
    color: @budgyblue;
  }

  .mat-icon {
    font-size: 50px;
    width: auto;
    height: auto;
    background-color: @budgyblue;
    color: white;
    border-radius: 50%;
    padding: 10px;
  }
}

#return {
  position: absolute;
  top: 120px;
  left: 20px;
  font-size: 3em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: @budgyblue;
  text-decoration: none;
}

.tab-icon {
  width: 50px !important;
}

.mat-stepper-horizontal {
  background-color: rgba(236, 236, 236);
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

/deep/ .mat-step-text-label.ng-star-inserted {
  color: rgba(0, 0, 0, 0.849);
  text-transform: uppercase;
  font-size: 20px;
}

/deep/ .mat-step-icon {
  background-color: #1976d250 !important;
  width: 30px !important;
  height: 30px !important;

  .mat-step-icon-content {
    font-size: 20px;

    .ng-star-inserted {
      color: white;
    }
  }
}

/deep/ .mat-step-header .mat-step-icon-selected {
  background-color: #1976d2 !important;
}

/deep/ .mat-stepper-horizontal-line {
  background-color: rgba(0, 0, 0, 0.5);
}

.cards {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;

  mat-card {
    color: rgba(0, 0, 0, 0.849);
    margin-top: 20px;
    background-color: rgba(236, 236, 236);
    border-radius: 25px;
    flex: 1 1 auto;
    margin: 20px;

    mat-card-title {
      text-transform: uppercase;
    }
  }
}

h2 {
  text-transform: uppercase;
  font-size: 20px;
}

/deep/ .mat-raised-button {
  color: black;
  background-color: white;
}

/deep/ .mat-checkbox {
  color: rgba(0, 0, 0, 0.849);
}

/deep/ .mat-checkbox-frame {
  border-color: rgba(0, 0, 0, 0.849);
}

/deep/ .mat-form-field-empty.mat-form-field-label {
  color: rgba(0, 0, 0, 0.897);
}

/deep/ .mat-focused .mat-form-field-label {
  color: rgba(0, 0, 0, 0.897);
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.897);
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(0, 0, 0, 0.897);
}

/deep/ .mat-select-min-line {
  color: black;

  .ng-star-inserted {
    color: black;
  }
}

/deep/ .mat-select-arrow {
  color: black;
}
