@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@budgyblue: #094b65;

* {
  box-sizing: content-box;
}

#header {
  box-sizing: border-box;
  background-color: #26b1e7;
  font-family: "Poppins", sans-serif;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}
#header .logo {
  color: @budgyblue;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
#header ul {
  display: flex;
  justify-content: content;
  align-items: center;
}
#header ul li {
  list-style: none;
  margin-left: 20px;
}
#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: @budgyblue;
  border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active {
  background: #094b65;
  color: white;
}
.mat-tab-group div.mat-tab-label:nth-child(1) {
  display: none;
}

.mat-tab-label {
  width: 20%;
  background-color: #26b1e7;
  color: white;
  opacity: inherit !important;
  text-transform: uppercase;
}

.mat-tab-label.mat-tab-label-active {
  background-color: #26b1e7;
  color: white;
}

.mat-tab-header-pagination {
  background-color: #26b1e7;
}

.mat-tab-group {
  margin-top: 150px;
}

.mat-ink-bar {
  background-color: white !important;
  height: 5px !important;
}

.tab-icon {
  width: 50px !important;
}

.category-title {
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 20px;

  font-size: 30px;
  text-transform: uppercase;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  align-items: center;
  background-color: #26b1e7;
  text-align: center;
  color: white;
  font-size: larger;
}

#edit-logo-container {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 70px;
  height: 70px;
  z-index: 100000;
}

#edit-logo {
  position: absolute;
  right: 70px;
  background: #26b0e7ce;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  color: white;
}

#edit-logo:hover {
  background: #26b1e7;
}

#return-logo {
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 40px;
  height: 70px;
  line-height: 70px;
}

#right-top-corner-logo {
  display: inline-block;
  position: absolute;
  right: 0;

  .mat-icon {
    font-size: 40px;
    height: 70px;
    line-height: 70px;
  }
}

.mat-icon.background-logo {
  position: absolute;
  opacity: 0.05;
  left: 0;
  top: 0;
  width: 80%;
  margin-left: 10%;
  height: 1000px;
  font-size: 1400px;
}

.mat-tab-body-wrapper {
  height: 100vh;
}

.budge-container {
  padding: 1% 5%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.app-budge {
  flex: 25%;
}
