<header id="header">
  <a class="logo" routerLink="/">Budgy</a>
  <ul>
    <li><a routerLink="/">Accueil</a></li>
    <li><a routerLink="/user" class="active">Inscription</a></li>
  </ul>
</header>
<div id="edit-logo-container">
  <mat-icon id="edit-logo" (click)="editMode = !editMode">edit</mat-icon>
</div>
<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>
      Accueil
    </ng-template>
    <h2 class="category-title">🔒 Mes assurances</h2>
    <div class="budge-container">
      <app-budge
        class="app-budge"
        title="Assurance automobile"
        maticon="directions_car"
        description="Assure tes problèmes liés à ton véhicule"
        modele="medium-budge"
        type="assurance-voiture"
        company="GMF"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Assurance habitation"
        maticon="home"
        description="Assure tes problèmes liés à ton habitation"
        modele="medium-budge"
        type="assurance-habitation"
        company="DIRECT-ASSURANCE"
        [editMode]="editMode"
        [isDone]="true"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Assurance santé"
        maticon="healing"
        description="Assure tes problèmes liés à ta santé"
        modele="medium-budge"
        type="assurance-sante"
        company="MACIF"
        [editMode]="editMode"
        [isDone]="true"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Mutuelle santé"
        maticon="people"
        description="Aide à rembourser tes traitements"
        modele="medium-budge"
        type="mutuelle-sante"
        company="HARMONIE"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="true"
      ></app-budge>
    </div>
    <h2 class="category-title">⚡ Mes fournisseurs</h2>
    <div class="budge-container">
      <app-budge
        class="app-budge"
        title="Fournisseur internet"
        maticon="wifi"
        description="Ton fournisseur internet"
        modele="medium-budge"
        type="fournisseur-internet"
        company="ORANGE"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Fournisseur de gaz"
        maticon="whatshot"
        description="Ton fournisseur en gaz"
        modele="medium-budge"
        type="fournisseur-gaz"
        company="EDF"
        [editMode]="editMode"
        [isDone]="true"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Fournisseur d'électricité"
        maticon="flash_on"
        description="Ton fournisseur en électricité"
        modele="medium-budge"
        type="fournisseur-electricite"
        company="TOTAL-DIRECT-ENERGIE"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="false"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Fournisseur d'eau"
        maticon="waves"
        description="Ton fournisseur en eau"
        modele="medium-budge"
        type="fournisseur-eau"
        company="TOTAL-DIRECT-ENERGIE"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="true"
      ></app-budge>
    </div>
    <!-- <div class="budge-container">
      <app-budge class="app-budge" title="Banque" maticon="account_balance" description="Les banques chez qui tu souhaites placer ton argent" modele="medium-budge" type="banque" company="GMF" [editMode]="editMode" [isDone]="false" [isSelected]="true"></app-budge>
      <app-budge class="app-budge" title="Aides publiques" maticon="euro_symbol" description="Les aides publiques pour lesquelles tu peux prétendre" modele="medium-budge" type="aides-publiques" company="GMF" [editMode]="editMode" [isDone]="false" [isSelected]="true"></app-budge>
      <app-budge class="app-budge" title="Saisie des dépenses" maticon="pie_chart" description="Un outil de saisie de tes dépenses pour gérer ton argent" modele="medium-budge" type="saisie-depenses" company="GMF" [editMode]="editMode" [isDone]="false" [isSelected]="true"></app-budge>
    </div> -->
    <h2 class="category-title">🛋️ Mes meubles</h2>
    <div class="budge-container">
      <app-budge
        class="app-budge"
        title="Four"
        maticon="whatshot"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Micro-onde"
        maticon="microwave"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="false"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Frigo"
        maticon="kitchen"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Congélateur"
        maticon="ac_unit"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="false"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Lave-vaisselle"
        maticon="soap"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="true"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Lave-linge"
        maticon="local_laundry_service"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="false"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Sèche-linge"
        maticon="dry_cleaning"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Canapé"
        maticon="weekend"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="true"
        [isSelected]="true"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="TV"
        maticon="tv"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="false"
        [isSelected]="false"
      ></app-budge>
      <app-budge
        class="app-budge"
        title="Lit"
        maticon="local_hotel"
        modele="small-budge"
        [editMode]="editMode"
        [isDone]="true"
        [isSelected]="true"
      ></app-budge>
    </div>
  </mat-tab>
</mat-tab-group>
