<div
  class="budge"
  class="{{ modele }}"
  [ngClass]="{
    'done-budge': isDone,
    'undone-budge': !isDone,
    'unselected-budge': !isSelected
  }"
>
  <p class="isDone-title" *ngIf="modele == 'small-budge'">
    {{ isDone ? "Tout est ok !" : "Actions à faire" }}
  </p>
  <mat-slide-toggle
    [(ngModel)]="isDone"
    [disabled]="!isSelected"
    *ngIf="modele == 'small-budge'"
  ></mat-slide-toggle>
  <button
    class="edit-button"
    mat-mini-fab
    matRipple
    (click)="isSelected = !isSelected"
    *ngIf="editMode"
  >
    <mat-icon>{{ isSelected ? "remove" : "add" }}</mat-icon>
  </button>
  <div class="budge-content" routerLink="/{{ type }}">
    <h2>{{ title }}</h2>
    <mat-icon class="budge-icon">{{ maticon }}</mat-icon>
  </div>
  <div class="budge-recap" *ngIf="modele != 'small-budge' && isSelected">
    <div class="budge-recap-content">
      <a href="{{ getCompanyWebsiteUrl() }}">
        <img
          class="company-img"
          alt="{{ company }}"
          src="{{ getCompanyLogoUrl() }}"
        />
      </a>
      <div class="price">
        <b>{{ price }}</b
        ><span>€/mois</span>
      </div>
    </div>
  </div>
</div>
