<div
  class="budge"
  class="{{ modele }}"
  [ngClass]="{
    'done-budge': isDone,
    'undone-budge': !isDone,
    'unselected-budge': !isSelected
  }"
>
  <div class="budge-content">
    <button
      class="select-button"
      mat-mini-fab
      matRipple
      [matRippleColor]="color"
      (click)="isSelected = !isSelected"
    >
      <mat-icon>{{ isSelected ? "remove" : "add" }}</mat-icon>
    </button>
    <p class="isDone-title">
      {{ isDone ? "Tout est ok !" : "Actions à faire" }}
    </p>
    <mat-slide-toggle
      [(ngModel)]="isDone"
      [disabled]="!isSelected"
    ></mat-slide-toggle>
    <h2>{{ title }}</h2>
    <mat-icon class="budge-icon">{{ maticon }}</mat-icon>
  </div>
</div>
