.budge {
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.089);
  display: inline-block;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
  height: 180px;
  overflow: hidden;

  .mat-icon {
    width: 100%;
    font-size: 80px;
  }
}

.budge:hover {
  background-color: rgba(73, 73, 73, 0.76);
  color: white;
}

.medium-budge {
  width: 60%;
  min-width: 225px;
  min-height: 225px;
}

.large-budge {
  width: 20%;
}
