<div class="toolbar" role="banner">
  <img
    width="140"
    alt="Budgy logo"
    src="../../assets/images/budgy_big_white.png"
    routerLink="/"
  />
</div>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">add_circle_outline</mat-icon>
      Nouveau mouvement
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">table_chart</mat-icon>
      Tableaux
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">pie_chart</mat-icon>
      Graphiques
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      Paramètres
    </ng-template>
  </mat-tab>
</mat-tab-group>
