.mat-tab-label {
  width: 25%;
  padding: 5px;
  background-color: #1976d2;
  color: white;
  font-weight: 700;
  opacity: inherit !important;
  text-transform: uppercase;
}

.mat-tab-label.mat-tab-label-active {
  padding: 5px;
  background-color: #1976d2;
  color: white;
  font-weight: 700;
}

.mat-tab-group {
  margin-top: 60px;
}

.mat-ink-bar {
  background-color: white !important;
  height: 5px !important;
}

.tab-icon {
  width: 50px !important;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  align-items: center;
  background-color: #1976d2;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: larger;
}

.toolbar img {
  z-index: 100;
  position: relative;
}
