<div class="content-hub" role="main">
  <img
    id="budgy"
    width="300"
    alt="Budgy Logo"
    src="../assets/images/budgy_big_blue.png"
  />

  <!-- Présentation -->
  <div class="card highlight-card card-small">
    <h1 id="title-budgy">Prendre son envol avec un seul outil</h1>
    <span id="presentation-budgy">
      Budgy est une application qui va centraliser toutes les choses dont tu as
      besoin lorsque tu prends ton indépendance. Assurrances, fournisseurs
      d'électricité, achat de meuble, aides publiques pour lesquelles tu es
      éligibles.. Budgy est là pour t'y retrouver.
    </span>
  </div>

  <!-- Inscription -->
  <h2>Inscription gratuite et sans engagement</h2>

  <div class="card-container">
    <a class="card" id="inscription-card" rel="noopener" routerLink="/user">
      <mat-icon class="icon-features">add_circle</mat-icon>

      <span id="inscription-link">S'inscrire</span>

      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>

  <!-- Les fonctionnalités -->
  <h2>Que permet de faire Budgy ?</h2>

  <div class="card-container">
    <a class="card" rel="noopener" href="#">
      <mat-icon class="icon-features">check_circle</mat-icon>

      <span>Liste des choses à faire</span>
    </a>

    <a class="card" rel="noopener" href="#">
      <mat-icon class="icon-features"> compare_arrows</mat-icon>

      <span>Comparatifs des différents services</span>
    </a>

    <a class="card" rel="noopener" href="#">
      <mat-icon class="icon-features">storage</mat-icon>

      <span>Stockage des documents</span>
    </a>
  </div>

  <!-- Footer -->
  <footer>
    Love Budgy?&nbsp;
    <a
      href="https://gitlab.com/arthur.bosshardt/budgy"
      target="_blank"
      rel="noopener"
    >
      Give our repo a star.
      <div class="github-star-badge">
        <svg
          class="material-icons"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
          />
        </svg>
        Star
      </div>
    </a>
    <a
      href="https://gitlab.com/arthur.bosshardt/budgy"
      target="_blank"
      rel="noopener"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
          fill="#1976d2"
        />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </footer>
</div>
