<div class="content-hub" role="main">
  <div id="left-part-hub">
    <img
      id="budgy"
      width="300"
      alt="Budgy Logo"
      src="../assets/images/budgy_big_blue.png"
    />

    <!-- Présentation -->
    <div class="card highlight-card card-small">
      <h1 id="title-budgy">Prendre son envol avec un seul outil</h1>
      <span id="presentation-budgy">
        <strong>Budgy</strong> est une application qui va
        <strong>centraliser</strong> toutes les choses dont tu as besoin lorsque
        tu prends ton <strong>indépendance</strong>. Tu retrouveras par exemple
        :
        <ul>
          <li>tes assurances</li>
          <li>tes fournisseurs de gaz / électricité</li>
          <li>où acheter tes nouveaux meubles</li>
          <li>les aides financières pour lesquelles tu es éligible</li>
          <li>et bien d'autres...</li>
        </ul>
        Budgy est là pour t'aider à t'y retrouver et démarrer ton indépendance
        en toute tranquillité.
      </span>
    </div>
    <div id="social-network">
      <h2>Suis-nous pour ne rien manquer</h2>
      <div class="card-container">
        <a
          class="circle-link"
          id="logo-twitter"
          href="#"
          title="twitter"
          rel="noopener"
        >
          <a class="fa fa-twitter"></a>
        </a>

        <a
          class="circle-link"
          id="logo-linkedin"
          title="linkedin"
          href="#"
          rel="noopener"
        >
          <a class="fa fa-linkedin"></a>
        </a>

        <a
          class="circle-link"
          id="logo-youtube"
          title="youtube"
          href="#"
          rel="noopener"
        >
          <a class="fa fa-youtube"></a>
        </a>

        <a
          class="circle-link"
          id="logo-instagram"
          title="instagram"
          href="#"
          rel="noopener"
        >
          <a class="fa fa-instagram"></a>
        </a>

        <a
          class="circle-link"
          id="logo-reddit"
          title="reddit"
          href="#"
          rel="noopener"
        >
          <a class="fa fa-reddit"></a>
        </a>

        <a
          class="circle-link"
          id="logo-facebook"
          title="facebook"
          href="#"
          rel="noopener"
        >
          <a class="fa fa-facebook"></a>
        </a>
      </div>
    </div>
  </div>

  <div id="right-part-hub">
    <!-- Les fonctionnalités -->
    <h2>Que permet de faire Budgy ?</h2>

    <div class="card-container">
      <a class="card" rel="noopener" href="#">
        <mat-icon class="icon-features">check_circle</mat-icon>

        <span>Liste des choses à faire</span>
      </a>

      <a class="card" rel="noopener" href="#">
        <mat-icon class="icon-features"> compare_arrows</mat-icon>

        <span>Comparatifs précis</span>
      </a>

      <a class="card" rel="noopener" href="#">
        <mat-icon class="icon-features">notifications_active</mat-icon>

        <span>Alertes sur les bons plans</span>
      </a>

      <a class="card" rel="noopener" href="#">
        <mat-icon class="icon-features">storage</mat-icon>

        <span>Stockage des documents</span>
      </a>
    </div>
    <h2>Inscription gratuite et sans engagement</h2>

    <div class="card-container">
      <a class="card" id="inscription-card" rel="noopener" routerLink="/user">
        <mat-icon class="icon-features">add_circle</mat-icon>

        <span id="inscription-link">S'inscrire</span>

        <svg
          class="material-icons"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
    </div>
  </div>
</div>
